@mixin flexRow {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

@mixin flexColumn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

$blue: #136CFF;
$black: #202020;
$white: #ffffff;
$pink: #FF6A6A;
$pink-use: #f3406b;


* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #fff;
}

body, html {
	height: 100%;
	margin: 0 auto;
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
	position: relative;
}

////////////////////////////////
//////////// HEADER ///////////
//////////////////////////////

.header {
	@include flexRow();
	justify-content: space-between;
	background-color: transparent;
	padding: 20px;

	&_btn {
		@include flexRow();
		.contribute{
			background-color: $pink-use;
			width: 220px;
			height: 45px;
		    padding-top: 11px;
		    margin-right: 20px;
		    border-radius: 50px;
		    text-align: center;
		    font-size: 1.4rem;
		    border: 1px solid $pink-use;
		    transition: all 0.3s ease 0s;
		    &:hover{
		    	background-color: transparent;
		    	color: $pink-use;
		    }
		}
	}
}

////////////////////////////////
//////////// CONTENT //////////
//////////////////////////////

.section {
	@include flexColumn();
	&_info {
		text-align: center;
		padding: 0 25%;
		&_title {
			text-transform: uppercase;
			letter-spacing: 3px;
			font-size: 2.5rem;
			margin: 0;
		}
		&_p {
			font-size: 1.5rem;
		}
		&_btn {
			@include flexRow();
			&_left {
				background-color: $blue;
				width: 200px;
				height: 45px;
			    padding-top: 12px;
			    margin-right: 20px;
			    border-radius: 50px;
			    text-align: center;
			    font-weight: lighter;
			    font-size: 1.4rem;
			    border: 1px solid $blue;
    		    transition: all 0.3s ease 0s;
			    &:hover{
			    	background-color: transparent;
			    	color: $blue;
		    	}
			}

			&_right {
				width: 200px;
				height: 45px;
			    padding-top: 12px;
			    margin-right: 20px;
			    border-radius: 50px;
			    text-align: center;
			    font-weight: lighter;
			    font-size: 1.4rem;
			    border: 1px solid $pink-use;
		    	color: $pink-use;
		    	transition: all 0.3s ease 0s;
			    &:hover{
						background-color: $pink-use;
			    	color: $white;
			    }
			}
		}
	}
	&_gallery {
		&_info {
			text-align: center;
			font-size: 1.5rem;
			padding: 0 50px;
		}
	}
}

////////////////////////////////
//////////// FOOTER ///////////
//////////////////////////////

.footer {
  height: 48px;

	@include flexRow();
	justify-content: space-around;
	background-color: $black;
	font-size: 1.3rem;
	position: absolute;
	bottom: 0;
	width: 100%;

	&_copyright {
		color: #fff;
	}

	&_nav {
		@include flexRow();
		&_item {
			text-transform: uppercase;
			&:nth-child(even){
				margin: 0 20px;
			}
			a:hover{
				color: $blue;
			}
		}
	}

	&_reseaux {
		@include flexRow();
		ul{
			padding: 0;
			margin: 0;
			li{
				list-style: none;
				display: inline-block;
		    margin: 0 8px;
        width: 40px;
   		 	text-align: center;

				&:before{
					content: "";
					width: 1px;
					background-color: $white;
					height: 50px;
					display: inline-block;
				}

				a{
					cursor: pointer;
					text-decoration: none;
					i{
						color: $white;
						font-size: 2rem;
				    vertical-align: top;
				    margin-top: 18px;
				    margin-left: 16px;
					}
					&:hover i{
						color: $blue;
					}
				}
			}
		}
	}
}










