@mixin flexRow {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

@mixin flexColumn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

$blue: #136CFF;
$black: #202020;
$white: #ffffff; 
$pink: #FF6A6A;
$pink-use: #f3406b;


* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #fff;
}

body, html {
	height: 100%;
	margin: 0 auto;
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
	position: relative;
	width: 100%;
	overflow: hidden;
}

////////////////////////////////
//////////// HEADER ///////////
//////////////////////////////

.header {
	.global_nav	{
		@include flexRow();
		justify-content: space-between;
		background-color: transparent;
		padding: 20px;
		// transition: all 0.2s ease 0s;
		.header_btn {
			@include flexRow();
			.contribute{
				background-color: $pink-use;
				width: 220px;
				height: 45px;
			    padding-top: 11px;
			    margin-right: 20px;
			    border-radius: 50px;
			    text-align: center;
			    font-size: 1.4rem;
			    border: 1px solid $pink-use;
			    text-decoration: none;
			    transition: all 0.3s ease 0s;
			    &:hover{
			    	background-color: transparent;
			    	color: $pink-use;
			    }
			}
		}
	}

	.header_btn_press a{
		text-decoration: none;
		height: 50px;
    	display: block;
		i{
			font-size: 4.5rem;
			color: $blue;
		}
		&:hover{
			color: $pink;
		}
	}
	.menu_list {
        @include flexRow();
        justify-content: space-around;
        background-color: $black;
        position: fixed;
        width: 100%;
        text-align: center;
        height: 0px;
        overflow: hidden;
        transition: height 0.3s ease-out;
        -webkit-transition: height 0.3s ease-out;
        -moz-transition: height 0.3s ease-out;
        -o-transition: height 0.3s ease-out;
        z-index: 99;
        @media screen and (max-width:955px) {
            @include flexColumn();
            justify-content: flex-strat;
        }
        .menu_list-item {
            background-color: #404040;
            border-radius: 10px;
            padding:30px 75px 30px 30px;
            @include flexRow();           
            @media screen and (max-width: 955px) {
                margin: 20px 0;
            }
            img {
            	margin-right: 30px;
            }
            .menu_item-img {
            	height: 100px;
            	width: 100px;
            }
            .menu_item-description {
                color: #fff;
                text-align: left;
                min-width: 116px;
                font-size: 1.5rem;
            }
        }
    }
}

.global_nav_active {
	background-color:$black!important;
	// transition: all 0.2s ease 0s;
}

.menu_open {
    height: 260px!important;
    transition: height 0.3s ease-out;
    -webkit-transition: height 0.3s ease-out;
    -moz-transition: height 0.3s ease-out;
    -o-transition: height 0.3s ease-out;
    @media screen and (max-width:955px) {
        height: 100%!important;
    }
}

////////////////////////////////
//////////// CONTENT //////////
//////////////////////////////

.section {
	@include flexColumn();
	&_info {
		text-align: center;
		padding: 0 25%;
		margin-top: 50px;
		&_title {
			text-transform: uppercase;
			letter-spacing: 3px;
			font-size: 3.2rem;
			margin: 0;
			font-weight: 800;
		}
		&_p {
			font-size: 1.5rem;
			margin-top: 10px;
			margin-bottom: 20px;
		}
		&_btn {
			@include flexRow();
			&_left {
				background-color: $blue;
				width: 200px;
				height: 45px;
		    padding-top: 12px;
		    margin-right: 20px;
		    border-radius: 50px;
		    text-align: center;
		    font-weight: lighter;
		    font-size: 1.4rem;
		    border: 1px solid $blue;
		    transition: all 0.3s ease 0s;
		    text-decoration: none;

		    &:hover{
		    	text-decoration: none;
		    	background-color: transparent;
		    	color: $blue;
	    	}
			}

			&_right {
				width: 200px;
				height: 45px;
			    padding-top: 12px;
			    margin-right: 20px;
			    border-radius: 50px;
			    text-align: center;
			    font-weight: lighter;
			    font-size: 1.4rem;
			    border: 1px solid $pink-use;
		    	color: $pink-use;
		    	transition: all 0.3s ease 0s;
		    	text-decoration: none;

			    &:hover{
						background-color: $pink-use;
			    	color: $white;
		    		text-decoration: none;
			    }
			}
		}
	}
	&_gallery {
		&_info {
			text-align: center;
			font-size: 1.5rem;
			padding: 0 50px;
		}
	}
}

////////////////////////////////
//////////// FOOTER ///////////
//////////////////////////////

.footer {
  height: 48px;

	@include flexRow();
	justify-content: space-around;
	background-color: $black;
	font-size: 1.3rem;
	position: absolute;
	bottom: 0;
	width: 100%;

	&_copyright {
		color: #fff;
	}

	&_nav {
		@include flexRow();
		&_item {
			text-transform: uppercase;
			&:nth-child(even){
				margin: 0 20px;
			}
			a:hover{
				color: $blue;
			}
		}
	}

	&_reseaux {
		@include flexRow();
		ul{
			padding: 0;
			margin: 0;
			li{
				list-style: none;
				display: inline-block;
		    margin: 0 8px;
        width: 40px;
   		 	text-align: center;

				&:before{
					content: "";
					width: 1px;
					background-color: $white;
					height: 50px;
					display: inline-block;
				}

				a{
					cursor: pointer;
					text-decoration: none;
					i{
						color: $white;
						font-size: 2rem;
				    vertical-align: top;
				    margin-top: 18px;
				    margin-left: 16px;
					}
					&:hover i{
						color: $blue;
					}
				}
			}
		}
	}
}










